.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  height: 100%;
  width: 100%;
  padding-top: 48px;
}
.nowPlayingCover {
  border-radius: 8px;
  float: left;
  width: 300px;
  height: 300px;
  background: transparent;
}
.nowPlayingSide {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.nowPlayingName {
  font-size: 1.5rem;
}
.controlsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.button, .playPause {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.playPause {
  min-width: 120px;
}